:root {
  --primary-color: rgba(15, 23, 42, 1);
  --secondary-color: rgba(226, 232, 240, 1);
  --accent-color: rgba(8, 23, 58, 1);
}

body {
  background-color: var(--secondary-color);
}

.about-section {
  background-color: var(--primary-color);
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  color: var(--secondary-color);
  font-size: 84px;
}

p,
h2 {
  font-family: "DM Sans", sans-serif;
  color: var(--secondary-color);
}

.homepage {
  background-color: var(--primary-color);
  padding: 50px;
  padding-bottom: 20px;
}
.homepage p {
  font-size: 48px;
  font-weight: bold;
  margin: 140px;
}

.portrait {
  width: 300px;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.btn-primary {
  background: var(--secondary-color);
  color: var(--primary-color);
  font-size: 20px;
  border: none;
  padding: 20px 40px;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.btn-primary:hover {
  background: var(--accent-color);
  color: var(--secondary-color);
  transform: translateY(-5px);
}
.skills-section {
  color: rgba(15, 23, 42, 1);
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.project-name {
  font-family: "Playfair Display", serif;
  color: var(--accent-color);
  font-weight: bold;
  font-size: 64px;
}

.project-description {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  color: rgba(15, 23, 42, 1);
}

.primary-link {
  padding: 15px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  border-radius: 8px;
}

.primary-link:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  transform: translateY(-5px);
}

.project-photo {
  box-shadow: 0 30px 50px rgba(65, 58, 100, 0.08);
  border: 10px solid rgba(8, 23, 58, 1);
  border-radius: 8px;
}

.about-section {
  margin: 20px 0;
}

.about-description {
  display: flex;
  margin: 30px 0;
  justify-content: center;
}
.about-description p {
  margin: 10px;
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 22px;
  line-height: 1.5;
  width: 400px;
}
