:root {
  --primary-color: rgba(15, 23, 42, 1);
  --secondary-color: rgba(226, 232, 240, 1);
  --accent-color: rgba(8, 23, 58, 1);
  --other-color: rgb(38, 223, 230);
  --primary-font: "Playfair Display", serif;
  --secondary-font: "DM Sans", sans-serif;
}

body {
  background-color: var(--primary-color);
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  color: var(--secondary-color);
  font-size: 84px;
}

p,
h2 {
  font-family: "DM Sans", sans-serif;
  color: var(--secondary-color);
}

a {
  text-decoration: none;
  font-size: 20px;
  color: var(--primary-color);
}

nav {
  align-items: center;
  background-color: var(--other-color);
  color: var(--primary-color);
}

li {
  list-style: none;
  margin: 16px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.homepage p,
.contact-info-section {
  font-size: 48px;
  font-weight: bold;
  margin: 85px;
}

.job-title {
  color: var(--other-color);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.btn-primary {
  background: var(--secondary-color);
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  border: none;
  padding: 20px 40px;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.btn-primary:hover {
  background: var(--accent-color);
  color: var(--other-color);
  transform: translateY(-5px);
}

.skills-section {
  color: var(--secondary-color);
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.project-name {
  font-family: "Playfair Display", serif;
  color: var(--other-color);
  font-weight: bold;
  font-size: 64px;
}

.project-description {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  color: var(--secondary-color);
}

.primary-link {
  padding: 15px;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.primary-link:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  transform: translateY(-5px);
}

.project-photo,
.portrait-photo {
  box-shadow: rgba(211, 210, 210, 0.301) 0px 10px 15px -3px,
    rgba(211, 210, 210, 0.301) 0px 4px 6px -2px;
  border: 10px solid var(--other-color);
  border-radius: 8px;
  width: 530px;
}

#about-me-heading {
  color: var(--other-color);
  font-family: var(--primary-font);
  font-weight: 500;
}

.about-me-description {
  font-family: var(--secondary-font);
  width: 600px;
}

.full-name {
  font-weight: bold;
  color: var(--other-color);
}

.secondary-link {
  padding: 20px 36px;
  background-color: var(--secondary-color);
  text-decoration: none;
  color: var(--accent-color);
  border-radius: 8px;
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.secondary-link:hover {
  background: var(--other-color);
  color: var(--accent-color);
  transform: translateY(-5px);
}

.contact-me-link {
  display: flex;
  justify-content: center;
  margin: 30px;
  margin-bottom: 40px;
}
.projects-heading {
  background-color: var(--primary-color);
  padding: 60px;
}
.work-section {
  background-color: var(--accent-color);
}
.work-heading {
  font-family: var(--primary-font);
  font-weight: bold;
  color: var(--other-color);
  font-size: 48px;
}
.work-description {
  font-weight: bold;
  font-size: 16px;
}
.project-image {
  border: 10px solid var(--other-color);
}

.third-link {
  padding: 20px 36px;
  background-color: var(--secondary-color);
  text-decoration: none;
  color: var(--primary-color);
  border-radius: 8px;
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.third-link:hover {
  background: var(--secondary-color);
  color: var(--accent-color);
  transform: translateY(-5px);
}
.contact-me-section {
  margin: 175px auto;
  background-color: var(--other-color);
  width: 800px;
  border-radius: 10px;
  border: 10px solid var(--accent-color);
}

.contact-heading {
  color: var(--primary-color);
}
.email-link {
  color: var(--primary-color);
}

footer {
  margin: 30px;
}

footer .email-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 20px;
}

footer .email-link:hover {
  color: var(--accent-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--secondary-color);
  background: var(--accent-color);
}
